.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.hero-background {
 width: 100%;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-logo {
  max-width: 90%;
  width: 40vw;
  height: auto;
  z-index: 2;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.about-section {
  background-color: #ECD0A0;
  padding: 80px 100px;
  color: white;
}

.about-quote {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 1.3;
}

.about-text {
  font-size: 38px; /* 20px */
  font-weight: 400;
  margin-bottom: 50px;
}

.about-author {
  font-size: 28px;
  font-style: italic;
}

.about-role {
  font-size: 18px;
  margin-top: 5px;
  opacity: 0.85;
}

.tittle-two {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-top: 65px;
    margin-bottom: 60px;
}


@media (max-width: 1024px) {
  .hero-logo {
    width: 280px;
    top: 18%;
  }

  .about-section {
    padding: 60px 50px;
  }

  .about-quote {
    font-size: 38px;
  }

  .about-text {
    font-size: 22px;
  }

  .about-author {
    font-size: 20px;
  }

  .tittle-two {
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}



@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .hero-background {
    height: auto;
    width: 100%;
  }

  .hero-logo {
    width: 250px;
    top: 17%;
  }

  .about-section {
    padding: 40px 25px;
  }

  .about-quote {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .about-text {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .about-author {
    font-size: 18px;
  }

  .tittle-two {
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 40px;
  }


}


@media (max-width: 425px) {
  .hero-logo {
    width: 140px;
    top: 26%;
  }

  .about-section {
    padding: 35px 20px;
    text-align: center;
  }

  .about-quote {
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .about-text {
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 1.6;
  }

  .about-author {
    font-size: 16px;
  }

  .tittle-two {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 375px) {
  .hero-logo {
    width: 120px;
    top: 28%;
  }

  .about-section {
    padding: 30px 15px;
  }

  .about-quote {
    font-size: 19px;
    margin-bottom: 18px;
    line-height: 1.3;
  }

  .about-text {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .about-author {
    font-size: 15px;
  }

  .tittle-two {
    font-size: 22px;
    margin-top: 28px;
    margin-bottom: 28px;
  }
}

@media (max-width: 320px) {
  .hero-logo {
    width: 100px;
    top: 30%;
  }

  .about-section {
    padding: 25px 10px;
  }

  .about-quote {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.2;
  }

  .about-text {
    font-size: 14px;
    margin-bottom: 18px;
  }

  .about-author {
    font-size: 14px;
  }

  .tittle-two {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

