.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.hero-background {
 width: 100%;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-logo {
  max-width: 90%;
  width: 40vw;
  height: auto;
  z-index: 2;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.about-section {
  background-color: #ECD0A0;
  padding: 80px 100px;
  color: white;
}

.about-quote {
  font-size: 90px; /* 42px */
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 1.3;
}

.about-text {
  font-size: 38px; /* 20px */
  font-weight: 400;
  margin-bottom: 50px;
}

.about-author {
  font-size: 28px;
  font-weight: 400;
}

.about-role {
  font-size: 18px;
  margin-top: 5px;
  opacity: 0.85;
}

.tittle-two {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-top: 65px;
    margin-bottom: 60px;
}


@media (max-width: 1024px) {
  .hero-logo {
    width: 35vw;
    top: 15%;
  }
}
@media (max-width: 768px) {
  .hero-logo {
    width: 180px;
    top: 22%;
  }
}
